ClientWCF/Connected Services/ServiceReference1/PhotosApp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhotosApp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/PC?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/PC?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/PC?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InterfacePhotosApp_addDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:addDetails" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_addDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_checkPath_InputMessage">
    <wsdl:part name="parameters" element="tns:checkPath" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_checkPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkPathResponse" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_insertNewImage_InputMessage">
    <wsdl:part name="parameters" element="tns:insertNewImage" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_insertNewImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertNewImageResponse" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_updateDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:updateDetails" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_updateDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_deleteDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteDetails" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_deleteDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_getDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getDetails" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_getDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_getPaths_InputMessage">
    <wsdl:part name="parameters" element="tns:getPaths" />
  </wsdl:message>
  <wsdl:message name="InterfacePhotosApp_getPaths_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPathsResponse" />
  </wsdl:message>
  <wsdl:portType name="InterfacePhotosApp">
    <wsdl:operation name="addDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfacePhotosApp/addDetails" message="tns:InterfacePhotosApp_addDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfacePhotosApp/addDetailsResponse" message="tns:InterfacePhotosApp_addDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkPath">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfacePhotosApp/checkPath" message="tns:InterfacePhotosApp_checkPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfacePhotosApp/checkPathResponse" message="tns:InterfacePhotosApp_checkPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertNewImage">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfacePhotosApp/insertNewImage" message="tns:InterfacePhotosApp_insertNewImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfacePhotosApp/insertNewImageResponse" message="tns:InterfacePhotosApp_insertNewImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfacePhotosApp/updateDetails" message="tns:InterfacePhotosApp_updateDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfacePhotosApp/updateDetailsResponse" message="tns:InterfacePhotosApp_updateDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfacePhotosApp/deleteDetails" message="tns:InterfacePhotosApp_deleteDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfacePhotosApp/deleteDetailsResponse" message="tns:InterfacePhotosApp_deleteDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfacePhotosApp/getDetails" message="tns:InterfacePhotosApp_getDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfacePhotosApp/getDetailsResponse" message="tns:InterfacePhotosApp_getDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPaths">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfacePhotosApp/getPaths" message="tns:InterfacePhotosApp_getPaths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfacePhotosApp/getPathsResponse" message="tns:InterfacePhotosApp_getPaths_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_InterfacePhotosApp" type="tns:InterfacePhotosApp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addDetails">
      <soap:operation soapAction="http://tempuri.org/InterfacePhotosApp/addDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPath">
      <soap:operation soapAction="http://tempuri.org/InterfacePhotosApp/checkPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertNewImage">
      <soap:operation soapAction="http://tempuri.org/InterfacePhotosApp/insertNewImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDetails">
      <soap:operation soapAction="http://tempuri.org/InterfacePhotosApp/updateDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDetails">
      <soap:operation soapAction="http://tempuri.org/InterfacePhotosApp/deleteDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetails">
      <soap:operation soapAction="http://tempuri.org/InterfacePhotosApp/getDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaths">
      <soap:operation soapAction="http://tempuri.org/InterfacePhotosApp/getPaths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhotosApp">
    <wsdl:port name="BasicHttpBinding_InterfacePhotosApp" binding="tns:BasicHttpBinding_InterfacePhotosApp">
      <soap:address location="http://localhost:8000/PC" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>